body {
    font-family: 'Courier New', Courier, monospace;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 70rem;
}

h1 {
    color: #b05555;
    font-size: 2.5rem;
}

p {
    font-size: 1.2rem;
    color: #462525;
}

button {
    background-color: #aa7676;
    color: white;
    padding: 10px 20px;
    font-size: 1.1rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #532f2f;
}

#imageContainer {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

#timingContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#originalImageContainer, #processedImageContainer {
    width: 45%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    max-width: 100%;
    max-height: 100%;
    border: 1px solid #462525;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

img {
    max-width: 100%; /* Limitează lățimea imaginii la containerul său */
    max-height: 100%; /* Limitează înălțimea imaginii la containerul său */
    width: auto;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#jsonDataContainer {
    margin-top: 20px;
    text-align: left;
}
